@import "varaibles";
.coder {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  background: $main-color;
  border-radius: 75px;
  padding: 15px 20px 15px 15px;

  display: flex;
  justify-content: space-between;

  img {
    border-radius: 100%;
    overflow: hidden;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.25px;

    color: #FFFFFF;

    @media all and (max-width: 768px) {
      font-size: 10px;
    }

    @media all and (max-width: 705px) {
      display: none;
    }
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px 0;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.25px;

    color: #FFFFFF;

    opacity: 0.5;
    transition: .4s;

    @media all and (max-width: 705px) {
      opacity: 1;
    }
  }

}

span.star {
  opacity: 1;
  &::after {
    content: url("../public/star.svg");
  }

  &.active::after {
    content: url("../public/active-star.svg");
  }
}
