@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
html,
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32.9px;
  line-height: 47px;

  text-align: center;
  letter-spacing: 0.5875px;

  color: #212353;

  margin-bottom: 55px;
}

.layout {
  margin-top: 117px;

  @media all and (max-width: 768px) {
    margin-top: 66px;
  }

  @media all and (max-width: 425px) {
    margin-top: 33px;
  }
}
