@import "varaibles";

.header {
  background-color: $main-color;
  box-shadow: $main-shadow;
  color: #ffffff;
  padding: 30px 0 30px 70px;
  box-sizing: border-box;

  @media all and (max-width: 768px) {
    padding-left: 0;
  }

  .container {
    @media all and (max-width: 768px) {
      justify-content: center;
    }
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 20.7133px;
    line-height: 25px;

    @media all and (max-width: 768px) {
      font-size: 18px;
    }
  }
}

.container {
  width: calc(100% - 200px);
  margin: 0 auto;

  @media all and (max-width: 768px) {
    width: calc(100% - 100px);
  }

  @media all and (max-width: 425px) {
    width: calc(100% - 50px);
  }
}

.flex-start {
  display: flex;
  align-items: center;
  gap: 0 25px;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.main {
  padding: 63px 0 43px;
  text-transform: capitalize;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  padding-bottom: 35px;
  color: $secondary-color;

  h4 {
    font-style: normal;
    font-weight: 200;
    font-size: 26.3476px;
    line-height: 110%;
    /* or 29px */

    text-align: center;

    @media all and (max-width: 768px) {
      font-size: 20px;
    }

    @media all and (max-width: 425px) {
      font-size: 18px;
    }

    @media all and (max-width: 375px) {
      font-size: 14px;
    }
  }

  span:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
  }

  span, b {
    text-align: center;

    @media all and (max-width: 425px) {
      font-size: 10px;
    }
  }

}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 110%;
  color: $secondary-color;

  @media all and (max-width: 768px) {
    font-size: 48px;
  }

  @media all and (max-width: 425px) {
    font-size: 28px;
    text-align: center;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 110%;
  margin-right: 1em;

  color: $secondary-color;

  @media all and (max-width: 1088px) {
    display: none;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 63px;

  & > div:first-child {
    flex: 1;
  }

  @media all and (max-width: 768px) {
    justify-content: center;
  }
}

.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 29px;
}

.coders {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
