@use "sass:map";
@import "varaibles";

$direction: (
        down: true,
        up: true
);

.card {
  background: $main-color;
  box-shadow: 0 4px 28.49px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  padding: 41px 60px 80px;
  color: #FFFFFF;
  width: 100%;

  @media all and (max-width: 610px) {
    width: min-content;
    padding: 41px 50px 50px;
  }

  @media all and (max-width: 425px) {
    width: min-content;
    padding: 32px;
  }
}

.row {
  display: flex;
  gap: 50px;

  flex-wrap: wrap;
  @media all and (max-width: 768px) {
    justify-content: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px 0;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 110%;

  @media all and (max-width: 768px) {
    font-size: 26px;
  }
}

.widget {
  width: max-content;
  background: #FFFFFF;
  border-radius: 19.8652px;
  padding: 18px 18px 26px 26px;

  color: #12121F;

  h4 {
    font-weight: 600;
    font-size: 13.2434px;
    line-height: 16px;

    letter-spacing: 0.206929px;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 23.176px;
    line-height: 28px;

    letter-spacing: 0.206929px;
    margin: 10px 0 5px;
  }

  span {
    font-weight: 600;
    font-size: 13.2434px;
    line-height: 16px;

    letter-spacing: 0.206929px;
    position: relative;

    &.up::after {
      content: url("../public/arrow.svg");
    }

    &.down::after {
      content: url("../public/arrow-down.svg");
    }

    &::after {
      margin-left: 2px;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 11.588px;
    line-height: 14px;

    color: #AFAFBD;
  }
}
